{% extends 'common/base.html' %}
{% block cssfile %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'homepage/main.css' %}">
{% endblock cssfile %}
{% block navbar-stuff %}
  <div class="navbar-nav mr-auto">
    <a class="nav-item nav-link" href="{% url 'homepage-about' %}">About</a>
  </div> 
  <!-- Navbar Right Side -->
  <div class="navbar-nav">
    {% if request.user.is_authenticated %}
    <a class="nav-item nav-link" href="{% url 'profile' request.user.profile.pk %}">Profile</a>
    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
    {% else %}
      <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
      <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
    {% endif %}
  </div>
{% endblock navbar-stuff %}