{% extends "homepage/base.html" %}
{% load static %}

{% block matrix %}
<canvas class="fixed-top" style="z-index: 1031"></canvas>

<script>
    // Initialising the canvas
var canvas = document.querySelector('canvas'),
    ctx = canvas.getContext('2d');

// Setting the width and height of the canvas
canvas.width = window.innerWidth;
canvas.height = window.innerHeight;

// Setting up the letters
var letters = '01';
letters = letters.split('');

// Setting up the columns
var fontSize = 10,
    columns = canvas.width / fontSize;

// Setting up the drops
var drops = [];
for (var i = 0; i < columns; i++) {
    drops[i] = 1;
}

// Setting up the draw function
function draw() {
    ctx.fillStyle = 'rgba(0, 0, 0, .1)';
    ctx.fillRect(0, 0, canvas.width, canvas.height);
    for (var i = 0; i < drops.length; i++) {
    var text = letters[Math.floor(Math.random() * letters.length)];
    ctx.fillStyle = '#0f0';
    ctx.fillText(text, i * fontSize, drops[i] * fontSize);
    drops[i]++;
    if (drops[i] * fontSize > canvas.height && Math.random() > .95) {
        drops[i] = 0;
    }
    }
}

// Loop the animation
setInterval(draw, 3);
</script>
{% endblock %}

{% block content %}
<h1>Website HOME Page</h1>
<div class="homepage-greeting">
    <p>This is the homepage of the website.</p>
    <img src="{% static 'homepage/home_img.png' %}">
</div>

{% endblock content %}

{% block scripts %}
<script>
    // Fade out the matrix
setTimeout(function() {
    $(canvas).fadeOut(1000);
    $("#d-fade").removeClass("d-none");
}, 1000);
</script>
{% endblock %}

{% block d-fade-class %}d-none{% endblock %}