{% extends "homepage/base.html" %}
{% load static %}

{% block matrix %}
<canvas class="fixed-top" style="z-index: 1031"></canvas>

<script>    
    // Initialising the canvas
var canvas = document.querySelector('canvas'),
    ctx = canvas.getContext('2d');

// Setting the width and height of the canvas
canvas.width = window.innerWidth;
canvas.height = window.innerHeight;

// Setting up the letters
var letters = 'LOADING';
letters = letters.split('');

// Setting up the columns
var fontSize = 20,
    columns = canvas.width / fontSize;

// Setting up the drops
var drops = [];
for (var i = 0; i < columns; i++) {
    drops[i] = 1;
}

var codecolor = getRandomColor();

// Setting up the draw function
function draw() {
    ctx.fillStyle = 'rgba(0, 0, 0, .1)';
    ctx.fillRect(0, 0, canvas.width, canvas.height);
    ctx.fillStyle = codecolor + ')';
    for (var i = 0; i < drops.length; i++) {
        var text = letters[Math.floor(Math.random() * letters.length)];
        var opacity = 1 - (drops[i] * 0.05); // Calculate the opacity based on the position of the text
        var glowColor = codecolor + ',' + opacity + ')';
        ctx.save();
        ctx.shadowBlur = 100; // Set the blur radius for the glow effect
        ctx.shadowColor = glowColor; // Set the color of the glow effect    
        ctx.font = fontSize + 'px monospace'; // Set the font size
        ctx.fillText(text, i * fontSize, drops[i] * fontSize);
        ctx.restore();
        drops[i]++;
        if (drops[i] * fontSize > canvas.height && Math.random() > .95) {
            drops[i] = 0;
        }
    }
}

// Function to generate a random color visible on a black background
function getRandomColor() {
    var color = 'rgb('; // Start with the basic building block for a color
    var sum = 0;
    for(var i = 0; i < 3; i++) {
        var brightness = Math.floor(Math.random() * 255); // Random brightness value between 0 and 255
        sum += brightness;
        if(i == 2 && sum < 360) { // If the sum of the brightness values is less than 360, make the color brighter
            brightness = Math.min(190, 360 + brightness - sum);
            sum += brightness;
        }
        color += brightness;
        if(i < 2) {
            color += ',';
        }
    }
    return color;
}

// Loop the animation
setInterval(draw, 8);
</script>
{% endblock %}

{% block content %}
<h1>Website HOME Page</h1>
<div class="homepage-greeting">
    <p>This is the homepage of the website.</p>
    <img src="{% static 'homepage/home_img.png' %}">
</div>

{% endblock content %}

{% block scripts %}
<script>
    // Fade out the matrix
setTimeout(function() {
    $(canvas).fadeOut(1000);
    $("#d-fade").removeClass("d-none");
}, 1200);
</script>
{% endblock %}

{% block d-fade-class %}d-none{% endblock %}